// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}
input.btn-success {
  margin-top: 10px
}
input.input-xlarge {
  width: 80%;
}

.flash-notice {
  color: orange
}